<header>
  <img
    src="assets/img/theo.png"
    alt="Theo Henrique - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Theo Henrique</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs</p>
    <p>Santa rita do sapucai, Minas Gerais, Brasil</p>
    <p>Estou entrando na área de desenvolvimento de software</p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/Cv.pdf" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/theo-henrique-azevedo7439/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5535997096434&text=Ol%C3%A1%20Theo,%20preciso%20de%20um%20trabalho!"
            target="_blank"
          >
            <strong>Envie uma menssagem para:</strong>
            <p>WhatsApp: (35) 9 97096434</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:pereiratheo07@gmail.com" target="_blank">
            <strong>Envie uma e-mail para:</strong>
            <p>pereiratheo07&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
