::ng-deep .dialog-container-projects .mdc-dialog__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);

  width: 850px;
  max-width: 850px;
  max-height: 50vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  z-index: 1000;
  align-items: center;
}

:host {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;

  header,
  h3,
  p,
  mat-dialog-content {
    padding: 0;
    margin: 0 0 15px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 22px;
      padding: 0;
      margin: 0;
      color: var(--black-010);
    }

    button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }

  h3 {
    font-size: 18px;
    color: var(--black-010);
  }

  article {
    margin-bottom: 15px;

    p {
      font-size: 16px;
    }
  }

  nav {
    display: flex;
  }
}